.nav{
    float: right;
}
.Ege{
    border-radius: 120px;
}
.displayed {
    display: block;
    margin-left: 450px;
    margin-right: auto;
    margin-top: 100px;
    float: left;
    
    }
.orta{
    margin-left: 450px;

}
footer{
    margin-top: 340px;
    background-color: #f2f2f2;
    
    
}
.footer2{
    float: right;
}
.input{
    width: 480px;
    height: 25px;
    border-radius: 30px;
    margin-bottom: 10px;
    
}
.position{
    margin-left: 550px;
}
.button {
    background-color: #f2f2f2;
    color: black;
    border: 1px solid gray;
    margin-right: 10px;
}
 a{
     text-decoration: none;
 }   
 footer>a{
     margin-right: 10px;
 }

div.nav>a{
    margin-right: 10px;
}